@{
    ViewBag.Title = "Index";
}

<img src="/Content/Images/TitleHome.gif" alt="Welcome to Cool Cat Campers" class="title" />
<p>
    Lorem ipsum dolor sit amet, et commune corrumpit ius. Quis efficiendi pro id, no mel eruditi moderatius dissentias, saperet forensibus contentiones at eam. Dolorem gloriatur ad his, feugiat fuisset probatus pro ad. Clita aliquip discere at his, no novum aliquip nusquam quo. Possit omnesque incorrupte ex duo, quo no dignissim evertitur, ut graece libris platonem nec. Moderatius reprimique comprehensam in duo, facer gloriatur deterruisset ut cum.
</p>
<p>
    Ex eam reque mundi ancillae, ex audire sanctus appetere nec, ex his oratio invenire. Option dissentias vim et, laudem adipisci periculis ei nec. Ea quo suscipit tincidunt percipitur, vim ut adversarium neglegentur signiferumque, ne argumentum dissentiunt necessitatibus mel. Mea ad fabulas delicata suavitate. Usu ea sint recteque. Quem posse vis ea.
</p>
<p>
    Soluta eripuit maiestatis ex vix, vim in habeo quando, id nemore rationibus sea. Duo dicit quodsi appetere ne. No lucilius assueverit inciderint nam, eos modo semper ad, at vim labores docendi. Quando regione perfecto id mel, audire utroque meliore ne per. Duo ea putent corrumpit, omittantur reformidans ut sea.
</p>
<p>
    Nisl quodsi accumsan pri ei, elitr oporteat vivendum eu sit. Cu vel malis nulla legendos. Invenire concludaturque eu vis, oratio omittam scribentur pro ut. Eos ad magna alterum tibique. Per causae intellegat at.
</p>
<p>
    Brute laudem assentior eos eu. An aeque alienum quaestio sed, mei ex aeque prodesset. Duis option omnesque his ne, noluisse partiendo eos id, mel hinc illum graeco ad. Cum at fugit temporibus, pro mediocrem maluisset eu, eu libris accusam appareat eum.
</p>
